<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar color="undefined">
    <ion-title *ngIf="title">
      <ion-item lines="none" class="header-item">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="Logotipo Cooperativa" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar> 
        <ion-label class="header-label">{{title}} - {{this.user.rol}}</ion-label>
      </ion-item>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="title" color="primary"></ion-menu-button>
      <ion-button *ngIf="back" (click)="goBack()"> Retroceder
        <ion-icon slot="icon-only" name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-toggle (ionChange)="toggleTheme($event)" [checked]="theme  === 'dark'"></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>