<ion-header class="ion-no-border">
  <ion-toolbar color="undefined">
    <ion-title *ngIf="showTitle && user!==null && cooperative!==null ">
      <ion-item lines="none" class="header-item">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="Logotipo Cooperativa" [src]="cooperative.photo" />
        </ion-avatar> 
        <ion-label class="header-label" >Cooperativa {{cooperative.name}} - {{user.rol}}</ion-label>
      </ion-item>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="showTitle" color="primary"></ion-menu-button>
      <ion-button *ngIf="back" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-toggle (ionChange)="toggleTheme($event)" [checked]="theme  === 'dark'"></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>