ion-item ion-card{
    width: 100%;
}

ion-thumbnail{
    min-width: 30%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-avatar{
    width: fit-content;
    height: fit-content;
}

img{
    border-radius: 50%;
}
.option-btn{
    color: white;
}

ion-toggle{
    padding: 12px;
}

.item ion-list{width: 100%;}