<app-header [back]="true"></app-header>
<ion-content [fullscreen]="true">
  <ion-item lines="none">
    <ion-label>
      Frecuencias > Viajes
    </ion-label>
  </ion-item>
  <ion-searchbar fill="outline" animated="true" mode="ios" [(ngModel)]="searchTerm" (ionInput)="filterBuses()" placeholder="Buscar Viaje" animated="true"></ion-searchbar>
  <ion-list *ngIf="!loading">
    <ion-item-sliding class="product-item" *ngFor="let p of filteredTrips">
      <ion-item>
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-title>{{p.id}}</ion-card-title>
            <ion-card-subtitle>Viaje</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-item lines="none" class="item">
              <ion-list>
                <ion-item>
                  <ion-label class="ion-text-wrap">Bus: {{p.bus.plate}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="ion-text-wrap">Conductor: {{p.driver.name + " "+ p.driver.lastName + " - "+p.driver.card}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="ion-text-wrap">Cobrador: {{p.collector.name + " "+ p.collector.lastName + " - "+p.collector.card}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="ion-text-wrap">Número de pisos: {{p.bus.floors}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="ion-text-wrap">Origen: {{p.frecuency.origin}}</ion-label>
                </ion-item>
                <ion-item *ngIf="p.frecuency.stops.length>0">
                  <ion-label class="ion-text-wrap">Paradas: <h2 *ngFor="let stop of p.frecuency.stops">{{stop.name + " - $"+ stop.price}}</h2></ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="ion-text-wrap">Destino: {{p.frecuency.destiny}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="ion-text-wrap">Hora de salida: {{p.frecuency.timeStart}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="ion-text-wrap">Asientos: {{p.bus.seats}} Disponibles: {{p.seats}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="ion-text-wrap">Precio: {{p.frecuency.price}}</ion-label>
                </ion-item>
              </ion-list>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-item>

      <!-- ===== Opciones para cada producto ===== -->
      <ion-item-options>
        <!-- Editar -->
        <ion-item-option (click)="addUpdateBus(p)">
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option>

        <!-- Eliminar -->
        <ion-item-option (click)="confirmDeleteBus(p)" color="danger">
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>

      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

   <!-- ====== Cuando no hay productos disponibles ====== -->
   <div *ngIf="!loading && !filteredTrips.length" class="empty">
    <ion-icon  name="shield-outline"></ion-icon>
    <h3>No hay viajes disponibles</h3>
  </div>

  <!-- Botón para cargar formulario modal -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdateBus()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
