<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none">
    <ion-label class="navigation">
      Socios
    </ion-label>
  </ion-item>
  <ion-searchbar fill="outline" animated="true" mode="ios" [(ngModel)]="searchTerm" (ionInput)="filterPartners()" placeholder="Buscar Socio" animated="true"></ion-searchbar>
  
  <ion-grid *ngIf="!loading">
    <!-- Encabezados -->
    <ion-row class="header-row">
      <ion-col size="2" class="header-cell">Cédula</ion-col>
      <ion-col size="2" class="header-cell">Nombre</ion-col>
      <ion-col size="2" class="header-cell">Apellido</ion-col>
      <ion-col size="2" class="header-cell">Dirección</ion-col>
      <ion-col size="2" class="header-cell">Email</ion-col>
      <ion-col size="2" class="header-cell">Teléfono</ion-col>
    </ion-row>

    <!-- Filas de datos -->
    <ion-item-sliding *ngFor="let p of filteredPartners">
      <ion-item>
        <ion-grid>
          <ion-row class="data-row">
            <ion-col size="2">{{ p.card }}</ion-col>
            <ion-col size="2">{{ p.name }}</ion-col>
            <ion-col size="2">{{ p.lastName}}</ion-col>
            <ion-col size="2">{{ p.address }}</ion-col>
            <ion-col size="2">{{ p.email }}</ion-col>
            <ion-col size="2">{{ p.phone }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <!-- Opciones de sliding -->
      <ion-item-options side="end">
        <ion-item-option (click)="addUpdatePartner(p)" >
          <ion-icon name="create-outline" slot="icon-only" class="option-btn"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="confirmDeletePartner(p)">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-grid>

   <!-- ====== Cuando no hay productos disponibles ====== -->
   <div *ngIf="!loading && !filteredPartners.length" class="empty">
    <ion-icon  name="shield-outline"></ion-icon>
    <h3>No hay socios disponibles</h3>
  </div>

  <!-- Botón para cargar formulario modal -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdatePartner()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
